{% extends 'admin_panel/base.html.twig' %}

{% block title %}Update{% endblock %}

{% block header %}
  {{ parent() }}
{% endblock %}
{% block scripts %}
<script src="/js/admin/create.js" type="text/javascript"></script>
{% endblock %}

{% block updateMenuLink %}active-menu{% endblock %}

{% block pageTitle %}Update property{% endblock %}

{% block main %}
<form class="property-form"
      action="/a05022019pdmi/update/property/{{ property.property_id }}"
      method="POST"
      enctype="multipart/form-data">

  <div class="form-title">
    Update property #{{ property.property_id }}
  </div>
  <ul class="error-box">
    {% if success %}
      <li class="success">The property was updated successfully</li>
    {% else %}
      {% for error in errors %}
        <li class="error">{{ error }}</li>
      {% endfor %}
    {% endif %}
  </ul>
  <label for="active">Is active *</label>
  <select required name="active" id="active">

    <option {{ property.is_active == 'Not active' ? 'selected' }} value="0">Not active</option>
    <option {{ property.is_active == 'Active' ? 'selected' }} value="1">Active</option>
  </select>

  <label for="furnishing">Furnishing *</label>
  <select required name="furnishing" id="furnishing">
    <option {{ property.furnished == 'Unfurnished' ? 'selected' }} value="0">Unfurnished</option>
    <option {{ property.furnished == 'Furnished' ? 'selected' }} value="1">Furnished</option>
  </select>

  <label for="first_address_line">1 address line *</label>
  <input value="{{ property.first_address_line }}" required type="text" name="first_address_line" placeholder="e.g. 23 Baker Street" id="first_address_line">

  <label for="second_address_line">2 address line</label>
  <input value="{{ property.second_address_line }}" type="text" name="second_address_line" placeholder="" id="second_address_line">

  <label for="post_code">Post code *</label>
  <input value="{{ property.post_code }}" required type="text" name="post_code" placeholder="e.g. NN1 33W" id="post_code">

  <label for="condition">Condition *</label>
  <select required name="condition" id="condition">
    <option {{ property.condition == 'Perfect' ? 'selected' }} value="Perfect" selected>Perfect</option>
    <option {{ property.condition == 'Good' ? 'selected' }} value="Good">Good</option>
    <option {{ property.condition == 'Average' ? 'selected' }} value="Average">Average</option>
  </select>

  <label for="date_available">Date available *</label>
  <input required value="{{ property.available_from }}" type="text" name="date_available" placeholder="e.g. YYYY-MM-DD" id="date_available">

  <label for="type">Type *</label>
  <select required name="type" id="type">
   {% for type in types %}
          <option {{ property.type_title == type.type_title ? 'selected' }} value="{{ type.type_id }}">{{ type.type_title }}</option>
        {% endfor %}
 
  </select>

  <label for="total_bedrooms">Total bedrooms *</label>
  <input value="{{ property.total_bedrooms }}" required type="text" name="total_bedrooms" placeholder="e.g. 4" id="total_bedrooms">

  <label for="available_bedrooms">Available bedrooms *</label>
  <input value="{{ property.available_bedrooms }}" required type="text" name="available_bedrooms" placeholder="e.g. 2" id="available_bedrooms">

  <label for="bathrooms">Bathrooms *</label>
  <input value="{{ property.bathrooms_amount }}" required type="text" name="bathrooms" placeholder="e.g. 1" id="bathrooms">

  <label>Rent includes</label>
  <div class="rent-includes">
    <label for="gas">Gas</label>
    <input type="checkbox" {{ property.rent['Gas'] ? 'checked' }} name="rent[]" value="1" id="gas">

    <label for="Water">Water</label>
    <input type="checkbox" {{ property.rent['Water'] ? 'checked' }} name="rent[]" value="2" id="Water">

    <label for="electricity">Electricity</label>
    <input type="checkbox" {{ property.rent['Electricity'] ? 'checked' }} name="rent[]" value="3" id="electricity">

    <label for="internet">Internet</label>
    <input type="checkbox" {{ property.rent['Internet'] ? 'checked' }} name="rent[]" value="4" id="internet">
  </div>

  <label for="deposit">Deposit *</label>
  <input value="{{ property.deposit }}" required type="text" name="deposit" placeholder="e.g. 300" id="deposit">

  <label for="price_per_week">Price per week *</label>
  <input value="{{ property.price_per_week }}" required type="text" name="price_per_week" placeholder="e.g. 111.23" id="price_per_week">

  <label for="comment">Comment *</label>
  <textarea name="comment" id="comment" rows="10">{{ property.comment }}</textarea>

  <div class="form-title">Images *</div>

  <div class="image-fields">
    <div class="more-button">
      <span class="add-field">Add field</span>
      <span class="remove-field">Remove field</span>
    </div>

    {% for image in property.images %}
    <div class="image-field">
      <label for="image{{ image.image_id }}">Image nr. {{ image.image_id }} *</label>
      <img src="{{ image.image_path }}" alt="">
      <input required value="{{ image.image_title }}" type="text" name="images[{{ image.image_id }}][title]" placeholder="Image title" id="image{{ image.image_id }}">
      <input value="{{ image.image_id }}" type="hidden" name="images[{{ image.image_id }}][id]">
      <input value="{{ image.image_path }}" type="hidden" name="images[{{ image.image_id }}][old_filepath]">
      <input type="file" accept="image/*" name="images[{{ image.image_id }}]">
    </div>
    {% endfor %}
  </div>
  <input type="submit" class="submit-button" value="Update">
</form>
{% endblock %}
